#        * Update your role tasks to use the template module to generate the index.html page from a template, replacing some content with the web_page_content variable.

{% include 'nginx_setup/vars/main.yml' %}

<html>
<body>
<h1>Welcome to my webpage!</h1>
{{ _web_page_content_ }}
</body>
</html>"
